.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.home-button {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

li:hover {
  background-color: #f9f9f9;
}

p {
  font-size: 18px;
  color: #999;
}

label {
  font-size: 18px;
  color: #333;
  margin-right: 10px;
}

input[type="text"] {
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
